{% extends "layout.html" %}

{% block top_bar %}
<nav class="navbar navbar-expand-md navbar-light bg-light border">
    <div class="d-flex">
        <a class="navbar-brand" href="/"><span style='color:#3CB371'>senti</span></a>
        <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
{% endblock %}

{% block custom_footer %}
<footer class="small text-muted footer-stay">
    Developed at HTNE by Christy Jestin, Ash Ahmed, Charles Ma, and David Liu.
</footer>
{% endblock %}