{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block main %}
<div class="jumbotron d-flex align-items-center min-vh-100">
    <div style="background-color:transparent !important" class="container container-fluid text-center">
        <img style="max-width: 80%; max-height: 80%;" src="https://drive.google.com/file/d/1ytgmbYpmZGM-tT_sYsWqL9gzU0rfRrek/view?usp=sharing">
        <br>
        <div class="container-fluid">
            <form action='/search' method='POST'>
                <input autocomplete='on' id="google_bar" type="text" name="query" placeholder="search..." required>
                <br>
                <br>
                <button class="btn btn-outline-primary btn-sm" type="submit">Search</button>  
            </form>
            <form action='/trends' method='GET'>
                <button class="btn btn-outline-primary btn-sm" type="submit">Global Trends</button>
            </form> 
        </div>
    </div>
</div>
{% endblock %}

{% block custom_footer %}
<footer class="small text-muted">
    Developed at HTNE by Christy Jestin, Ash Ahmed, Charles Ma, and David Liu.
</footer>
{% endblock %}